<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/navbar'); %>
		<span>Producto agregado con éxito</span>
		<%- include('../partials/footer'); %>
	</body>
</html>
