<html lang='es'>

<head>
  {{>head}}
</head>

<body>
  <div>
    {{>inicio}}
  </div>
  <div class="megacontainer">
    <div class="form-chat-container">
      {{>form}}
      {{>chat}}
    </div>
    <div class="products-container">
      {{>products}}
    </div>
  </div>
  <br>
  {{> footer}}
  {{> scripts}}
</body>

</html>