<section>
    <h2>Chat en vivo</h2>
    <div>
        <h4>Enviar mensajes</h4>
        <div>
            <label for='emailInput'>Email:</label>
            <input type='email' class="input" id='emailInput' name='email' />
            <label for='msgInput'>Mensaje</label>
            <input type='text' class="input" id='msgInput' name='msg' style="width: 500px; height: 200px;"/>
            <button onclick="sendMessage()">Send</button>
        </div>
        <h4>Lista de mensajes</h4>
        <div id="msg-list-container"></div>
    </div>
</section>