<html lang='es'>

<head>
    {{>head}}
</head>

<body>
    <div class="login-container logout-container">
        Sesión cerrada
    </div>
    <br>
    <div>
        Hasta luego, {{username}}
    </div>
    <script>
        
    </script>
    {{> footer}}
    {{> scripts}}
</body>

</html>