<div>
	<label for='titleInput'>Title</label>
	<input type='text' class="input" id='titleInput' name='title' />
	<label for='priceInput'>Price</label>
	<input type='text' class="input" id='priceInput' name='price' />
	<label for='thumbnailInput'>Picture URL</label>
	<input type='text' class="input" id='thumbnailInput' name='thumbnail' />
	<button onclick="sendProduct()">Submit</button>
</div>